#include<windows.h>
#include"BitMap.h"
#include<CommCtrl.h>

MYBITMAP BITMAP "Astromedicomp_Pic.bmp"



MYDIALOGBOX DIALOG DISCARDABLE 300,150,180,80
STYLE DS_MODALFRAME | WS_POPUP | WS_TABSTOP | SS_CENTER | WS_VISIBLE | WS_CHILD | CS_DBLCLKS | WS_CAPTION | WS_BORDER
CAPTION "What you want to do today ?"
FONT 15, "Latin"
BEGIN 
	PUSHBUTTON   "Data Entry ", IDDATAENTRY, 17, 23, 55, 25, BS_PUSHBUTTON | BS_NOTIFY | WS_BORDER
	PUSHBUTTON   "Read/Search Record", IDREAD, 90, 23, 80, 25, BS_PUSHBUTTON | BS_NOTIFY 

END


/////My Data ENTRY Form
DATAENTRY DIALOGEX DISCARDABLE 300, 150, 360, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_TABSTOP | SS_CENTER | WS_VISIBLE | WS_CHILD | CS_DBLCLKS | WS_CAPTION | WS_TILED | WS_BORDER
CAPTION "Data Entry"
FONT 15, "Latin", 400, 0, 0*1
BEGIN
	LTEXT "Employee ID : ", EIDWRITE, 260, 5, 40, 15, WS_THICKFRAME | BS_OWNERDRAW | WS_CHILD | WS_VISIBLE
	EDITTEXT	EIDEBOX, 310, 5, 40, 15, WS_CHILD | WS_VISIBLE
	LTEXT "Name : ", IDNAME , 8, 20, 40, 15, WS_THICKFRAME| BS_OWNERDRAW | WS_CHILD | WS_VISIBLE
	LTEXT "Sex : ", IDSEX, 8, 40, 40, 15, WS_THICKFRAME | BS_OWNERDRAW | WS_CHILD | WS_VISIBLE
	LTEXT "Address : ", IDADDRESS, 8, 60, 60, 15, WS_THICKFRAME | WS_CHILD | WS_VISIBLE
	LTEXT "Joining Date : ", IDJOINDATE, 180, 85, 60, 10, WS_CHILD | WS_VISIBLE
	LTEXT "Date of Birth : ", IDDOB, 8, 85, 60, 10, WS_CHILD | WS_VISIBLE
	PUSHBUTTON   "OK", IDDATAOK, 80, 130, 55, 25, BS_PUSHBUTTON | BS_NOTIFY | WS_BORDER | WS_CHILD | WS_VISIBLE
	PUSHBUTTON   "CANCEL", IDDATACANCEL, 180, 130, 55, 25, BS_PUSHBUTTON | BS_NOTIFY | WS_BORDER | WS_CHILD | WS_VISIBLE
	EDITTEXT	IDNAMEEDIT, 80, 20, 80, 15, WS_CHILD | WS_VISIBLE
	EDITTEXT	IDADDRESSEDIT, 80, 60, 150, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
	RADIOBUTTON  "Male", IDMALERADIO, 80, 40, 35, 15, BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD | WS_VISIBLE
	RADIOBUTTON  "Female", IDFEMALERADIO, 115, 40, 35, 15, BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD | WS_VISIBLE

END


DATAREAD DIALOGEX DISCARDABLE 250, 130, 360, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_TABSTOP | SS_CENTER | WS_VISIBLE | WS_CHILD | CS_DBLCLKS | WS_CAPTION | WS_TILED | WS_BORDER
CAPTION "Data Read"
FONT 15, "Latin", 400, 0, 0*1
BEGIN
LTEXT "Employee ID : ", EMPIDR, 65, 5, 40, 15, WS_THICKFRAME | BS_OWNERDRAW | WS_CHILD | WS_VISIBLE
EDITTEXT	IDREADEMP, 115, 5, 110, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
LTEXT "Name : ", IDNAMER, 65, 23, 40, 15, WS_THICKFRAME | BS_OWNERDRAW | WS_CHILD | WS_VISIBLE
EDITTEXT	IDNAMEEDITR, 115, 23, 110, 15, WS_CHILD | WS_VISIBLE
PUSHBUTTON   "OK", IDDATAOKR, 240, 5, 55, 15, BS_PUSHBUTTON | BS_NOTIFY | WS_BORDER | WS_CHILD | WS_VISIBLE
PUSHBUTTON   "CANCEL", IDDATACANCELR, 240, 23, 55, 15, BS_PUSHBUTTON | BS_NOTIFY | WS_BORDER | WS_CHILD | WS_VISIBLE



EDITTEXT	IDFRFCO, 30, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDFRFCS, 80, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDFRFCTH, 130, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDFRFCF, 180, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDFRFCFI, 230, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDFRFCSI, 280, 50, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL


EDITTEXT	IDSRSCO, 30, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDSRSCS, 80, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDSRSCTH, 130, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDSRSCF, 180, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDSRSCFI, 230, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDSRSCSI, 280, 65, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL

EDITTEXT	IDTRTCO, 30, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDTRTCS, 80, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDTRTCTH, 130, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDTRTCF, 180, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDTRTCFI, 230, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL
EDITTEXT	IDTRTCSI, 280, 80, 50, 15, WS_CHILD | WS_VISIBLE | ES_MULTILINE | ES_NOHIDESEL | ES_AUTOVSCROLL

END




